In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('nba.db')
conn.execute("""ATTACH 'covid19.db' AS covid19""")
conn.execute("""ATTACH 'twElection2020.db' AS twElection2020""")
conn.execute("""ATTACH 'imdb.db' AS imdb""")
conn.execute("""ATTACH 'test.db' AS test""")

######  Overview
1. 練習新增資料表
2. 練習新增觀測值
3. 練習修該資料表內容

## 43. 在已經建立且連線好的 test 資料庫新增一個資料表名為 favorite_players，具有三個欄位 name、years_pro、ppg，資料類型分別是文字（TEXT）、整數（INTEGER）與浮點數（REAL）

* 練習建立資料表

In [3]:
create_table_favorite_players_in_test =\
"""
-- SQL 語法起點

CREATE TABLE favorite_players(
    name TEXT,
    years_pro INTEGER,
    ppg REAL
);

-- SQL 語法終點
"""

# table_favorite_players_in_test = pd.read_sql(create_table_favorite_players_in_test, conn)
# table_favorite_players_in_test

show_table = \
"""
-- SQL 語法起點

SELECT * 
  FROM favorite_players

-- SQL 語法終點
"""

table = pd.read_sql(show_table, conn)
table

Empty DataFrame
Columns: [name, years_pro, ppg]
Index: []

## 44. 承接上題，在 test 資料庫的 favorite_players 資料表中新增五筆觀測值
* 練習新增資料表內容

In [7]:
insert_table_favorite_players_in_test =\
"""
-- SQL 語法起點

INSERT INTO favorite_players
VALUES 
      ('Steve Nash', 19, 14.3), 
      ('Michael Jordan', 14, 30.1), 
      ('Paul Pierce', 19, 19.7), 
      ('Kevin Garnett', 21, 17.8), 
      ('Hakeem Olajuwon', 18, 21.8);

-- SQL 語法終點
"""

# table_favorite_players_in_test = pd.read_sql(insert_table_favorite_players_in_test, conn)
# table_favorite_players_in_test

show_table = \
"""
-- SQL 語法起點

SELECT DISTINCT* 
  FROM favorite_players

-- SQL 語法終點
"""

table = pd.read_sql(show_table, conn)
table

              name  years_pro   ppg
0       Steve Nash         19  14.3
1   Michael Jordan         14  30.1
2      Paul Pierce         19  19.7
3    Kevin Garnett         21  17.8
4  Hakeem Olajuwon         18  21.8

## 45. 承接上題，在 test 資料庫的 favorite_players 資料表將第五位球員 Hakeem Olajuwon 替換成 Tim Duncan
* 練習修該資料表內容

In [9]:
update_table_favorite_players_in_test =\
"""
-- SQL 語法起點

UPDATE favorite_players
  SET name = 'Tim Duncan'
 WHERE name = 'Hakeem Olajuwon';

-- SQL 語法終點
"""
# table_favorite_players_in_test = pd.read_sql(update_table_favorite_players_in_test, conn)
# table_favorite_players_in_test

show_table = \
"""
-- SQL 語法起點

SELECT DISTINCT* 
  FROM favorite_players

-- SQL 語法終點
"""

table = pd.read_sql(show_table, conn)
table

             name  years_pro   ppg
0      Steve Nash         19  14.3
1  Michael Jordan         14  30.1
2     Paul Pierce         19  19.7
3   Kevin Garnett         21  17.8
4      Tim Duncan         18  21.8